.frs-callout{
    margin-top: 10px;
}
#success-mess{
    font-size: 1.6em;
    color:#06662f;
    opacity:0;
    margin-top:0px;
    margin-bottom:0px;
    border-bottom: 1px solid #06662f;
}
.intro{
    font-size:1.6em;
    color:#003489;
    margin-top:0px;
    margin-bottom:0px;
    border-bottom: 1px solid #003489;
    transition: 0.2s all ease;
    opacity:0.8;
}
.intro:hover{
    opacity: 1;
}
.frs-iconic{
    border-left: 6px solid #003489;
    margin-right: 8px;
    height: 32px;
    padding: 0.5em;
}
.frs-iconic-suc{
    border-left: 6px solid #06662f;
    margin-right: 8px;
    height: 32px;
    padding: 0.5em;
}
.frs-iconic-head{
    transform:rotateX(-90deg);
}
.frs-big-input{
    font-size:1.5em;

}
.remover{
    font-size:1.2em;
    width:30px;
    height:30px;
    padding:0.2em;
    border-radius:50%;
    background-color:red;
    border-color: white;
    color: white;
    margin-left:12px;
    transition:0.2s all ease;
    margin-top:5px;
    margin-bottom:5px;
}
.remover:hover{
    height:40px;
    width:40px;
    border-radius:0px;
    margin-top:0px;
    margin-bottom:0px;
    cursor:pointer;
}
.frs-add-item{
    font-size:1.6em;
    background-color:white; 
    color:#296d51; 
    padding: 12px; 
    margin: 5px; 
    border-radius:4px;
    width: 180px;
    border: 2px solid #296d51;
    transition: 0.2s all ease;
}
.frs-add-item:hover{
    cursor:pointer;
    cursor:pointer;
    border: 8px solid #296d51;
    padding: 6px;
    border-left:0px;
    border-right: 0px;
    background-color:#102d21;
    color: white;
}
.frs-save-list{
   font-size:1.6em;
    background-color:white; 
    color:#003489; 
    padding: 12px; 
    margin: 5px; 
    border-radius:4px;
    border: 2px solid #003489;
    width: 180px;
    transition: 0.2s all ease;
}
.frs-save-list:hover{
cursor:pointer;
border: 8px solid #003489;
padding: 6px;
border-left:0px;
border-right: 0px;
background-color:#5696ff;
color: white;
}
.frs-full-list{
    background-color:#d7dfea;
    border-left:6px solid #5696ff;
    padding: 1em;
}